extends layout

block content
  h1= title
  p Welcome to #{title}
  p The API supports the following actions

  table(style='width:50%', border='1')
    each api in apis
      tr
        td=api.split('-')[0]
        td=api.split('-')[1]